body {
  font-family: "Ubuntu";
  font-weight: lighter;
}
.banner {
  background-color: #090218;
  padding: 2.5%;
  text-align: center;
  color: white;
}
.banner-text {
  font-family: "Ubuntu";
  font-weight: bolder;
}
.form-container {
  padding: 2%;
  background-color: #ddd9ed;
  margin-top: 1px;
}
.form {
  justify-content: center;
}
.history {
  justify-content: center;
  font-weight: 500;
}
.history-btn {
  height: 2.2rem;
  text-align: center;
}
.history-para {
  padding-top: 3%;
}

.temp-wrapper {
  margin-top: 1px;
  background-color: #47464a;
  color: white;
  padding: 1.5% 7%;
}
.temp-item {
  padding: 0%;
}
.current-banner {
  text-align: center;
  font-family: "Ubuntu";
  font-weight: normal;
  font-size: 1.5rem;
}
.accordion-wrapper {
  padding: 5%;
  justify-content: center;
  color: black;
}
.accordion-section {
  margin-top: 1px;
  background-color: #47464a;
}
.accordian-banner {
  color: white;
}
a {
  width: 100%;
  padding: 10%;
}

.card {
  width: auto;
}
@media (max-width: 500px) {
  .banner-text {
    font-size: 1.6rem;
  }
}